extends layout
block head
	title #{title}
	link(rel="stylesheet", href="stylesheets/car.css")
block content
	.car-nav-title
		h2 全部车型
		.car-nav-row
			span 类型
			.nav-list
				a.active 全部
				a SUV
		.car-nav-row
			span 品牌
			.nav-list
				a.active 全部
				a 宝马
		.car-nav-row
			span 变速箱
			.nav-list
				a.active 全部
				a 自动
				a 手动
		.car-content
			.car-list
				h3.name 奔驰C级
				.img
					img(src="images/car/benci-c.jpg", alt="奔驰C级")
				.price
					指导价：
					a 31.48-59.90万

