doctype html
html
  head
    link(rel="stylesheet", href="stylesheets/cssreset-min.css")
    link(rel='stylesheet', href='stylesheets/common.css')
    block head
  body
    include ./header.jade
    block content
    include ./footer.jade
