doctype html
html
  head
    link(rel="stylesheet", href="css/cssreset-min.css")
    link(rel='stylesheet', href='css/common.css')
    block head
  body
    include ./header.jade
    block header
    block content
    script(src="common/js/jquery-1.11.3.min.js")
    script(src="common/js/require.js")
    block footer
    include ./footer.jade
