extends layout
block head
	title #{title}
	link(rel="stylesheet", href="css/login.css")
block content
	.login
		from
			.username
				input(type="text" name="username" placeholder="用户名")
			.password
				input(type="password" name="password" placeholder="请输入密码")
			.just-login.hidden
				input(type="submit" value="登录")
			.just-register
				input(type="submit" value="注册")
block footer
	script.
		require(['js/login.js'],function(){})

