@import (reference) "common.less";
body{
    background-color: #F7F7F7;
}
.login{
    width: 280px;
    margin: 100px auto;
    border: 1px solid @grey;
    background-color: white;
    padding: 20px;
    .username,.password,.just-login,.just-register{
        input{
            .block;
            margin-bottom: 10px;
        }
    }
    .just-login,.just-register{
        input{
            color: white;
            margin-bottom: 0px;
        }
    }
    .just-login{
        display: none;
    }
}