extends ../common/layout
block head
	title #{title}
	link(rel="stylesheet", href="css/index/index.css")
	script(src="http://webapi.amap.com/maps?v=1.3&key=441023746601d52c3fca95f36f55f9e1")
block content
	.wb-main
		.send-wb
			.wb-edit
				textarea#wb-con
			.widget
				span 图片
				button.fr 发布
block footer
	script.
		require(['js/index/index.js'],function(){})
		
