extends ../common/layout
block head
	title #{title}
	link(rel="stylesheet", href="css/index/index.css")
block content
	.bolg-list
		.bolg-item
			h3 标题
			p 内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容
block footer
	script.
		require(['js/index/index.js'],function(){})
