extends ../common/layout
block head
	title #{title}
	link(rel="stylesheet", href="css/login/login.css")
block content
	.login
		form#form(method="post")
			.username
				input(type="text" name="name" placeholder="用户名" required autocomplate="off")
			.password
				input(type="password" name="password" placeholder="请输入密码" required autocomplate="off")
				span#error
			.just-login
				input(type="submit" id="login" value="登录")
				a.register 注册
			.just-register.hidden
				input(type="submit" id="register" value="注册")
				a.sigin 登陆
block footer
	script.
		require(['js/login/login.js'],function(){})

