doctype html
html
  head
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
    link(rel="stylesheet", href="css/common/cssreset-min.css")
    link(rel='stylesheet', href='css/common/common.css')
    block head
  body
    include ./header.jade
    block header
    block content
    script(src="js/common/jquery-1.11.3.min.js")
    script(src="js/common/require.js")
    script.
        require(['js/common/common.js'],function(){})
    block footer
    include ./footer.jade
