@import (reference) "../common/common.less";
.wb-main{
    width: 1000px;
    margin: 20px auto;
}
#wb-con{
    .block;
    .size(100%);
    outline: none;
    overflow-x: hidden;
    word-wrap: break-word;
    border: none;
    padding: 0;
    resize: none;
}
.send-wb{
    padding: 20px;
    .wb-edit{
        padding: 5px;
        height: 68px;
        border: 1px solid @borderColor;
    }
}